.header-bg{
    background-color: #FFFFFF;
    height: 96px;
    position: fixed;
    z-index: 100;
    width: 100%;
}
.div-wraper{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 96px;
    margin-bottom: 64px;
}
.nav-ul{
    display: flex;
}
.ul-li{
    margin-right: 24px;
}
.ul-li-a{
    font-size: 16px;
    font-weight: 500;
    line-height: 19.36px;
    color: #000000;
}
.div-button{
    width: 100px;
    height: 48px;
    background-color: #000000;
    border-radius: 32px;
}
.div-button-p{
    color: #F3F3F3;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    margin-top: 12px;
}
.div-tout{
    max-width: 1440px;
    width: 90%;
    height: 556px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.left-block{
    width: 490px;
    height: 288px;
}
.right-block{
    width: 490px;
    height: 428px;
    margin-top: 64px;
}
.img-right-block{
    width: 100%;
    border-radius: 12px;
}
.h1-title{
    font-size: 56px;
    color: #000000;
    line-height: 60px;
    font-weight: 900;
}
.p-section1{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #000000;
    margin: 24px 0 40px 0;
}
.div-left3{
    height: 48px;
    display: flex;
    align-items: center;
}
.div-section{
    width: 100px;
    height: 48px;
    background-color: #000000;
    margin-right: 20px;
    border-radius: 32px;
}
.div-p-action{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #F3F3F3;
    text-align: center;
    margin-top: 12px;
}
.p-section2{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #000000;
}
.section2-bg{
    background-color: #F3F3F3;
}
.div-wraper2{
    max-width: 1440px;
    width: 90%;
    height: 244.2px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
.div-block3{
    width: 360px;
    height: 116.2px;
    margin: 64px 0;
}
.div-circle2{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.div-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #000000;
    margin-right: 16px;
}
.h3-title{
    width: 102.2px;
    height: 13.28px;
    color: #000000;
    font-weight: 800;
}
.p-text{
    width: 335.35px;
    height: 60.2px;
    color: #000000;
}
.section3-bg{
    background-color:#000000; 
}
.div-tout2{
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    height: 620px;

}
.div-wraper3{
    width: 1140px;
    margin: auto auto;
    display: flex;
    align-items: center;
}
.left-section3{
    width: 503.5px;
    margin-right: 133px;
}
.right-section3{
    width: 503.5px;
}
.h4-title{
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.active{
    color: #FFFFFF;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.1px;
    font-weight: 400;
}
.img-border{
    border-radius: 12px;
    width: 100%;
}
.div-relative{
    position: relative;
    z-index: 1;
}
.div-absolute{
    width: 540px;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.p-absolute{
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    text-align: center;
}
.active-p-action{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 700;
    color: #000000;
}
.img-section{
    width: 100%;
}
.div-ection{
    width: 84px;
    height: 40px;
    border-radius: 24px;
    background-color: #F3F3F3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bg{
    background-color: #000000;
}
.div-tout3{
    max-width: 1440px;
    width: 90%;
    height: 336px;
}
.div-wraper4{
    width: 1140px;
    height: 144px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 96px 0;
}
.active-title{
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    font-weight: 700;
    color: #FFFFFF;
}
.activeactive{
    font-weight: 500;
}
.active-p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #FFFFFF;
    letter-spacing: 1px;
}
.footer-div{
    width: 228px;
}
/*@media*/
@media (max-width: 1024px) {
    .div-wraper{
        max-width: 1024px;
        width: 90%;
        height: 96px;
        margin: 0 auto;
    }
    .nav-ul {
        display: flex;
    }
    .ul-li{
        margin-right: 24px;
    }
    .div-tout{
        width: 1024px;
        height: 862px;
        flex-direction: column;
    }
    .left-block{
        width: 960px;
        height: 348px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .h1-title{
        width: 630px;
        height: 120px;
        text-align: center;
    }
    .p-section1{
        width: 630px;
        height: 56px;
        text-align: center;
    }
    .div-left3{
        width: 630px;
        height: 48px;
        justify-content: center;
    }
    .right-block{
        margin: 0 auto;
        width: 960px;
        height: 450px;
    }
    .section2-bg{
        background-color: #F3F3F3;
        width: 1024px;
        height: 254px;
        }
    .div-wraper2{
        width: 1024px;
        height: 254px; 
        margin: 0 auto;
    }
    .div-block3{
        width: 279.33px;
        height: 176px;
    }
    .section3-bg{
        width: 1024px;
        height: 895px;
    }
    .div-tout2{
        margin: 0 auto;
    }
    .div-wraper3{
        width: 1024px;
        height: 895px;
        flex-direction: column;
    }
    .left-section3{
        width: 960px;
        height: 550px;
        justify-content: center;
        align-items: center;
    }
    .right-section3{
        width: 960px;
        height: 185px;
        display: flex;
        padding-top: 64px;
    }
    .div-tout3{
        margin: 0 auto;
    }
    .div-wraper4{
        width: 960px;
        height: 219px;
    }
    .active-media{
        display: none;
    }
}
@media (max-width:744px) {
    .div-tout{
        width: 744px;
        height: 760px;
    }
    .left-block{
        width: 696px;
        height: 443px;
    }
    .right-block{
        width: 696px;
        height: 499px;
    }
    .div-section{
        margin-bottom: -20px;
    }
    .div-left3{
        margin: -30px 0 -20px 0;
    }
    .h1-title{
        width: 696px;
        height: 49px;
        text-align: center;
        font-size: 40px;
        line-height: 48.5px;
        margin-bottom: -20px;
    }
    .p-section1{
        width: 696px;
        height: 56px;
        text-align: center;
        margin: 24px 0;
    }
    .p-section2{
        margin: 16px 0 24px 0;
        line-height: 28px;
        text-align: center;
    }
    .div-p-action{
        margin-bottom: 12px;
    }
    .div-left3{
        flex-direction: column;
    }
    .section2-bg{
        background-color: #F3F3F3;
        height: 414px;
        width: 744px;
    }
    .div-wraper2{
        max-width:744px;
        height: 414px;
        flex-direction: column;
    }
    .div-block3{
        width: 744px;
        height: 138px;
        margin: 10px 0;  
    }
    .p-text{
        width: 696px;
        height: 56px;
        text-align: center;
        line-height: 28px;
        font-size: 18px;
    }
    .div-circle2{
        justify-content: center;
        height: 40px;
    }
    .section3-bg{
        width: 744px;
        height: 917px;
    }
    .div-tout2{
        width: 744px;
    }
    .div-wraper3{
        width: 744px;
        margin: 0 auto;
        justify-content: center;
    }
    .img-border{
        width: 100%;
    }
    .left-section3{
        width: 696px;
        height: 550px;
        margin: 0 auto;
    }
    .right-section3{
        width: 696px;
        flex-direction: column;
    }
    .active11{
        width: 696px;
    }
    .h4-title{
        text-align: center;
    }
    .active{
        text-align: center;
    }
}
@media (max-width:375px) {
    .div-wraper{
        max-width: 375px;
        height: 65px;
    }
    .nav-ul{
        display: none;
    }
    .div-button{
        display: none;
    }
    #burger-bar{
        display: block;
    }
    #burger-bar:before {
        content: "\2630";
    }
    .div-tout{
        max-width: 375px;
        height: 695px;
    }
    .h1-title{
        margin-top: 30px;
    }
    .left-block{
        width: 375px;
        height: 353px;
    }
    .h1-title{
        width: 327px;
        height: 97px;
        text-align: center;
    }
    .p-section1{
        width: 327px;
        height: 84px;
        text-align: center;
    }
    .div-left3{
        width: 327px;
        height: 112px;
    }
    .right-block{
        margin: 0 auto;
        width: 327px;
        height: 309px;
    }
    .section2-bg{
        width: 375px;
        height: 510px;

    }
    .div-wraper2{
        max-width: 375px;
        height: 510px;
        margin: 0 auto;

    }
    .div-block3{
        width: 375px;
        height: 170px;
        margin: 10px 0;
    }
    .div-circle2{
        width: 327px;
        height: 40px;
        justify-content: center;
    }
    .p-text{
        width: 327px;
        height: 72px;
        text-align: center;
    }
    .section3-bg{
        width: 375px;
        height: 523px;
    }
    .div-tout2{
        width: 375px;
        height: 523px;
        margin: 0 auto;
    }
    .div-wraper3{
        width: 375px;
        height: 523px;
        margin: 0 auto;
    }
    .left-section3{
        width: 375px;
        height: 195px;
        margin: 0 auto;
    }
    .right-section3{
        width: 375px;
        height: 328px;
        margin: 0 auto;
    }
    .active11{
        width: 327px;
    }
    .div-absolute{
        width: 247px;
        height: 232px;
    }
    .footer-bg{
        width: 375px;
        height: 340px;
        margin: 0 auto;
    }
    .div-tout3{
        width: 375px;
        height: 340px;
        margin: 0 auto;
    }
    .div-wraper4{
        width: 315px;
        height: 235px;
        margin: 0 auto;
    }
    .active100{
        width: 315px;
        height: 47px;
    }
    .active101{
        width: 98.33px;
        height: 168px;
    }
    .active102{
        width: 98.33px;
        height: 116px;
    }
    .active-title{
        width: 98.33px;
    }
    .h4-title{
        width: 98.33px;
    }

}